/* 
默认主题 CSS 可通过覆盖根级 CSS 变量进行自定义

默认主题css变量：
https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
*/

:root {
  --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff;
}
